<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Survey Form in MEAN</title>
        <link rel="stylesheet" href="site.css" media="screen" title="no title">
    </head>
    <body>
        <div class="wrapper">
            <h1>You reached the result page you saucy minx!</h1>
            <div class="result-box">
                <h2>Submitted Information</h2>
                <p>Name:  <%= name %></p>
                <p>Dojo Location:  <%= dojo %></p>
                <p>Favorite Language:  <%= language %></p>
                <p>Comment if ya got em:  <%= comment %></p>


            </div>
        </div>
    </body>
</html>
